<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bus TimeTable</title>
    <link rel="stylesheet" type="text/css" href="/static/css/table.css">
</head>

<body>
    <main class="table" id="customers_table">
       <section class="table__header">

           <h1 class="ok">Bus TimeTable</h1>

       </section>
        <section class="table__body">
            <table>
                <thead>
                    <tr>
                        <th> SEH TO BHP <span class="icon-arrow">&UpArrow;</span></th>
                        <th> BPL TO ASH <span class="icon-arrow">&UpArrow;</span></th>
                        <th> BPL TO SUJ<span class="icon-arrow">&UpArrow;</span></th>
                        <th>SEH TO IND <span class="icon-arrow">&UpArrow;</span></th>
                        <th> IND TO BPL <span class="icon-arrow">&UpArrow;</span></th>
                        <th> BPL TO SEH <span class="icon-arrow">&UpArrow;</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
  
                        <td> 5.00 PM </td>
                        <td> 11.00 AM </td>
                        <td>6.00 PM</td>
                        <td>7.00 PM</td>
                        <td>9.00 PM</td>
                        <td>8.00 PM</td>
                       
                    </tr>
                    <tr>
 
                       <td> 6.00 PM </td>
                       <td> 12.00 AM </td>
                       <td>3.00 PM</td>
                       <td>9.00 PM</td>
                       <td>4.00 PM</td>
                       <td>6.00 PM</td>
                      
                   </tr>
                   <tr>
 
                       <td> 6.30 PM </td>
                       <td> 11.00 AM </td>
                       <td>6.10 PM</td>
                       <td>7.10 PM</td>
                       <td>8.10 PM</td>
                       <td>9.10 PM</td>
                      
                   </tr>
                   <tr>
 
                       <td> 7.10 PM </td>
                       <td> 11.00 AM </td>
                       <td>6.30 PM</td>
                       <td>8.00 PM</td>
                       <td>10.00 PM</td>
                       <td>6.00 PM</td>
                      
                   </tr>
                   <tr>
 
                       <td> 7.40 PM </td>
                       <td> 11.00 AM </td>
                       <td>4.00 PM</td>
                       <td>5.00 PM</td>
                       <td>6.00 PM</td>
                       <td>8.00 PM</td>
                      
                   </tr>
                   <tr>
 
                       <td> 7.55 PM </td>
                       <td> 11.00 AM </td>
                       <td>3.00 PM</td>
                       <td>2.00 PM</td>
                       <td>1.00 PM</td>
                       <td>4.00 PM</td>
                      
                   </tr>
                   <tr>
 
                       <td> 8.00 PM </td>
                       <td> 11.00 AM </td>
                       <td>5.00 PM</td>
                       <td>6.00 PM</td>
                       <td>7.00 PM</td>
                       <td>4.00 PM</td>
                      
                   </tr>
                   <tr>
 
                       <td> 8.10 PM </td>
                       <td> 11.00 AM </td>
                       <td>6.00 PM</td>
                       <td>8.00 PM</td>
                       <td>9.00 PM</td>
                       <td>7.00 PM</td>
                      
                   </tr>
                   <tr>
 
                       <td> 8.30 PM </td>
                       <td> 11.00 AM </td>
                       <td>6.00 PM</td>
                       <td>5.00 PM</td>
                       <td>10.00 PM</td>
                       <td>7.00 PM</td>
                      
                   </tr>
                   <tr>
 
                       <td> 9.50 PM </td>
                       <td> 11.00 AM </td>
                       <td>6.00 PM</td>
                       <td>11.50 PM</td>
                       <td>6.00 PM</td>
                       <td>9.20 PM</td>
                      
                   </tr>
                   <tr>
 
                       <td> 10.00 PM </td>
                       <td> 11.00 AM </td>
                       <td>6.00 PM</td>
                       <td>6.00 PM</td>
                       <td>6.00 PM</td>
                       <td>6.00 PM</td>
                      
                   </tr>
                   <tr>
 
                       <td> 10.10 PM </td>
                       <td> 11.00 AM </td>
                       <td>6.10 PM</td>
                       <td>7.00 PM</td>
                       <td>8.10 PM</td>
                       <td>9.20 PM</td>
                      
                   </tr>
                   <tr>
 
                       <td> 11.30 PM </td>
                       <td> 11.00 AM </td>
                       <td>6.40 PM</td>
                       <td>8.00 PM</td>
                       <td>5.00 PM</td>
                       <td>6.00 PM</td>
                      
                   </tr>
                </tbody>
            </table>
        </section>
    </main>

</body>

</html>