 <!DOCTYPE html>
 <html lang="en">
 
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>Train TimeTable</title>
     <link rel="stylesheet" type="text/css" href="/static/css/table.css">
 </head>
 
 <body>
     <main class="table" id="customers_table">
        <section class="table__header">

            <h1 class="ok">Train TimeTable</h1>

        </section>
         <section class="table__body">
             <table>
                 <thead>
                     <tr>
                         <th> RKMP TO DEL <span class="icon-arrow">&UpArrow;</span></th>
                         <th> DEL TO RKMP <span class="icon-arrow">&UpArrow;</span></th>
                         <th> DEL TO BPL MS<span class="icon-arrow">&UpArrow;</span></th>
                         <th> RKMP TO WB <span class="icon-arrow">&UpArrow;</span></th>
                         <th> RKMP TO BG <span class="icon-arrow">&UpArrow;</span></th>
                         <th> RKMP TO DL <span class="icon-arrow">&UpArrow;</span></th>
                     </tr>
                 </thead>
                 <tbody>
                     <tr>
  
                         <td> 5.00 PM </td>
                         <td> 11.00 AM </td>
                         <td>6.00 PM</td>
                         <td>6.00 PM</td>
                         <td>6.00 PM</td>
                         <td>6.00 PM</td>
                        
                     </tr>
                     <tr>
  
                        <td> 5.00 PM </td>
                        <td> 11.00 AM </td>
                        <td>6.00 PM</td>
                        <td>6.00 PM</td>
                        <td>6.00 PM</td>
                        <td>6.00 PM</td>
                       
                    </tr>
                    <tr>
  
                        <td> 5.00 PM </td>
                        <td> 11.00 AM </td>
                        <td>6.00 PM</td>
                        <td>6.00 PM</td>
                        <td>6.00 PM</td>
                        <td>6.00 PM</td>
                       
                    </tr>
                    <tr>
  
                        <td> 5.00 PM </td>
                        <td> 11.00 AM </td>
                        <td>6.00 PM</td>
                        <td>6.00 PM</td>
                        <td>6.00 PM</td>
                        <td>6.00 PM</td>
                       
                    </tr>
                    <tr>
  
                        <td> 5.00 PM </td>
                        <td> 11.00 AM </td>
                        <td>6.00 PM</td>
                        <td>6.00 PM</td>
                        <td>6.00 PM</td>
                        <td>6.00 PM</td>
                       
                    </tr>
                    <tr>
  
                        <td> 5.00 PM </td>
                        <td> 11.00 AM </td>
                        <td>6.00 PM</td>
                        <td>6.00 PM</td>
                        <td>6.00 PM</td>
                        <td>6.00 PM</td>
                       
                    </tr>
                    <tr>
  
                        <td> 5.00 PM </td>
                        <td> 11.00 AM </td>
                        <td>6.00 PM</td>
                        <td>6.00 PM</td>
                        <td>6.00 PM</td>
                        <td>6.00 PM</td>
                       
                    </tr>
                    <tr>
  
                        <td> 5.00 PM </td>
                        <td> 11.00 AM </td>
                        <td>6.00 PM</td>
                        <td>6.00 PM</td>
                        <td>6.00 PM</td>
                        <td>6.00 PM</td>
                       
                    </tr>
                    <tr>
  
                        <td> 5.00 PM </td>
                        <td> 11.00 AM </td>
                        <td>6.00 PM</td>
                        <td>6.00 PM</td>
                        <td>6.00 PM</td>
                        <td>6.00 PM</td>
                       
                    </tr>
                    <tr>
  
                        <td> 5.00 PM </td>
                        <td> 11.00 AM </td>
                        <td>6.00 PM</td>
                        <td>6.00 PM</td>
                        <td>6.00 PM</td>
                        <td>6.00 PM</td>
                       
                    </tr>
                    <tr>
  
                        <td> 5.00 PM </td>
                        <td> 11.00 AM </td>
                        <td>6.00 PM</td>
                        <td>6.00 PM</td>
                        <td>6.00 PM</td>
                        <td>6.00 PM</td>
                       
                    </tr>
                    <tr>
  
                        <td> 5.00 PM </td>
                        <td> 11.00 AM </td>
                        <td>6.00 PM</td>
                        <td>6.00 PM</td>
                        <td>6.00 PM</td>
                        <td>6.00 PM</td>
                       
                    </tr>
                    <tr>
  
                        <td> 5.00 PM </td>
                        <td> 11.00 AM </td>
                        <td>6.00 PM</td>
                        <td>6.00 PM</td>
                        <td>6.00 PM</td>
                        <td>6.00 PM</td>
                       
                    </tr>
                 </tbody>
             </table>
         </section>
     </main>
 
 </body>
 
 </html>